<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <link th:href = "@{/styles.css}"/>
</head>
<body class="container">

<header th:replace="fragments :: navigation"></header>

<table class = "table table-striped">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Address</th>
    </tr>
    </thread>
    <th:block th:each="event : ${events}">
        <tr>
            <td th:text="${event.getKey()}"></td>
            <td th:text="${event.getValue()}"></td>
            <td th:replace="fragments :: address"></td>
        </tr>
    </th:block>
</table>

</body>
</html>